<div class="history--section container">
<h2>History (Past 5 days)</h2>
<div class="history--section__box">
    <div *ngFor="let price of pricesHistory" class="history--section__box__inner">
        <h4>{{price.date}}</h4>
        <div class="columns">
            <div class="column">
                <p>1 BTC = {{price.btc}}</p>
            </div>
            <div class="column">
                <p>1 ETH = {{price.eth}}</p>
            </div>
            <div class="column">
                <p>1 LTC = {{price.ltc}}</p>
            </div>
        </div>
    </div>
</div>