<div class="topheader">
    <header class="container">
        <nav class="navbar">
            <div class="navbar-brand">
                <span class="navbar-item">PusherCoins</span>
            </div>
            <div class="navbar-end">
                <a class="navbar-item" href="https://pusher.com" target="_blank" rel="noopener noreferrer">Pusher.com</a>
            </div>
        </nav>
    </header>
</div>
<section class="results--section">
    <div class="container">
        <h1>PusherCoins is a realtime price information about<br/> BTC, ETH and LTC.</h1>
    </div>
    <div class="results--section__inner">
        <app-today></app-today>
        <app-history></app-history>
    </div>
</section>
