.topheader {
    background-color: #174c80;
}
.navbar {
    background-color: #174c80;
}
.navbar-item {
    color: #fff;
}
.results--section {
    padding: 20px 0px;
    margin-top: 40px;
}
h1 {
    text-align: center;
    font-size: 30px;
}
.install-btn {
    font-size: 16px;
    cursor: pointer;
    color: #fff;
    border-radius: 5px;
    background-color: transparent;
    margin: 5px;
    border: 2px solid #fff;
}